
    body {
        font-family: "Red Hat Display", sans-serif;
        border-top: 1px solid;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        background-color:hsl(224, 23%, 55%);
        background-image: url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid hsl(225, 100%, 98%);
        background-color: hsl(225, 100%, 98%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }
    
    .banner {
        overflow: hidden;
        width: 100%;
        margin-bottom: 0.75rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .titulo {
        color: hsl(223, 47%, 23%); /*Dark Blue*/
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1rem;
        margin-top: 1rem;
        background-color: hsl(225, 100%, 98%);
    }
    
    .paragrafo {
        font-size: 16px;
        color: hsl(224, 23%, 55%);
        margin-bottom: 1rem;
        width:85%;
        line-height: 20px;
        margin-bottom: 1rem;
        text-align: justify;
        background-color: hsl(225, 100%, 98%);
    }
    
    .planos {
        display: flex;
        width: 100%;
        justify-content:space-evenly;
        padding-top: 1rem;
        padding-bottom:1rem;
        background-color: hsl(225, 100%, 98%);
        align-items: center;
        
    }
    
    .preco {
        color:hsl(224, 23%, 55%); 
    }
    
    .change {
        color: hsl(245, 75%, 52%);
        text-decoration: underline;
        font-weight: 700;
    }
    
    .change:hover { 
        cursor: pointer;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: hsl(225, 100%, 98%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .botao__comprar {
        width: 80%;
        color: white;
        background-color: hsl(245, 75%, 52%);
        height: 2.5rem;
        border-radius: 5px;
        margin-bottom: 0.75rem;
        box-shadow: 5px 5px 5px black;
        border: none;
        font-weight:900;
    }
    
    .botao__comprar:hover{
        cursor: pointer;
    }
    
    .botao__cancelar {
        color: hsl(224, 23%, 55%);
        background: hsl(225, 100%, 98%);
        border: none;
        font-size: 0.95rem;
        height: 900;
        background-color: hsl(225, 100%, 98%);
        padding-bottom: 2rem;
        font-weight:700;
    }
    
    .botao__cancelar:hover {
        cursor: pointer;
    }



@media (min-width:721px) { 
    body {
        background-image: url(../images/pattern-background-desktop.svg);
        width: 100%;
    }
    .planos {
        margin-top: -1px;
        width: 709px;
        padding-top: 46px;
    }
    
    .botoes {
        width: 709px;
    }
    
}